@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave');

body {
    margin: 0;
    background-image: url("images/background_3.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'Archivo Black', sans-serif;  
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    width: calc(33.3% - 30px);
    margin: 20px auto;
    border-radius: 10px;
    padding: 15px;
}

h2 {
    font-family: 'Archivo Black', sans-serif; 
    text-align: center;
    margin-top: 0;
}

.create-column {
    font-family: 'Archivo Black', sans-serif;
    position: absolute;
    top: 4%;
    right: 20%;
    background-color: rgba(255, 255, 255, 0.7);
    height: 60px;
    width: 100px;
    border-radius: 10px;  
    border: none;  
    font-size: 15px; 
    background-color: #87E8A9;
}

.create-column:hover {
    font-size: 17px; 
    background-color: #53E787;
}

.column-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.column {
    align-self: flex-start;
    position: relative;
    width: calc(33% - 30px);
    margin: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

ul {
    min-height: 100px;
}

li {
    list-style: none;
    font-family: 'Sedgwick Ave', cursive;
    cursor: move;
    font-size: 25px;
}

.btn-delete-column {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 40px;
    border: none;
    color: #000;
    background-color: #F37676;
    border-radius: 0 10px 10px 0; 
    cursor: pointer;
    font-size: 15px;
    font-family: 'Archivo Black', sans-serif;
}

.btn-delete-column:hover {
    font-size: 17px;
    background-color: #F55151;
}

.add-card {
    position: absolute;
    top: 0;
    right: 60px;
    height: 40px;
    width: 120px;
    border: none;
    color: #000;
    cursor: pointer;
    font-family: 'Archivo Black', sans-serif;
    font-size: 15px;
    background-color: #87E8A9;
    border-radius: 10px 0 0 10px; 
}

.add-card:hover {
    font-size: 17px;
    background-color: #53E787;
}

.btn-delete-card {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    border: none;
    color: #000;
    background-color: #F29A9A;
    border-radius: 0 10px 0 10px; 
    cursor: pointer;
    font-size: 15px;
    font-family: 'Archivo Black', sans-serif;
}

.btn-delete-card:hover {
    font-size: 17px;
    background-color: #F55151;
}

/* ******************** MEDIA QUERIES ******************** */
@media (min-width: 1600px) and (max-width: 1680px) {

    h2 {
        margin-right: 100px;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    
    h1 {
        width: 33.3%;
    }

    h2 {
        margin-top: 50px;
    }

    .card-description {
        font-size: 20px;
    }

    .add-card {
        left: 30%;
    }

    .btn-delete-column {
        left: calc(30% + 120px);
    }

    .create-column {
        top: 0;
        margin-top: 30px;
    }

}

@media (min-width: 768px) and (max-width: 1023px) {
   
    h1 {
        width: 33.3%;
    }

    h2 {
        margin-top: 50px;
        margin-right: calc(50% - 100px);
    }

    .column {
        align-self: flex-start;
        position: relative;
        width: calc(50% - 30px);
        margin: 15px;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 10px;
    }

    .create-column {
        top: 0;
        margin-top: 20px;
        font-size: 18px;
        right: 15%;
    }

    .add-card {
        font-size: 17px;
    }
}

@media (min-width: 411px) and (max-width: 767px) {
    

 
}

@media (min-width: 320px) and (max-width: 410px) {
    


}